.header {
  padding: 10px 20px;
  display: flex;
  align-items: center;
  border-bottom: 1px solid #e4e4e4;
}

.header-left {
  width: 300px;
  display: flex;
  align-items: center;
}

.header-left i {
  width: 30px;
}

.logo {
  width: 100px;
}

.header-center {
  flex-grow: 1;
}

.search {
  position: relative;

  width: 40%;
}

.search-btn {
  border: none;
  outline: none;
  background: none;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 20px;
}

.search-btn:hover {
  color: crimson;
  cursor: pointer;
}

.search-box {
  padding: 10px;
  background: #e4e4e4;
  border: none;
  border-radius: 5px;
  width: 95%;
}

.header-right {
  display: flex;
  margin-left: auto;
  justify-content: space-between;
  width: 300px;
}

.header-right {
  display: flex;
  align-items: center;
}

.user-info > * {
  margin-left: 20px;
}

.user-info {
  display: flex;
  align-items: center;
}

.avatar {
  width: 24px;
  height: 24px;
  border-radius: 50%;
}

.upload-btn {
  padding: 10px 15px;
  border: none;
  border-radius: 5px;
  background: black;
  color: white;
}

.upload-btn i {
  margin-left: 5px;
}
